*{
    font-size: clamp();    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: red;
    text-align: center;
    background-image: url(..|imgpngwing.com.png) ;
    
}

button{
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
}

