/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

/* Estilo geral */
body, html {
    color: aliceblue;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #090B13;
    background-image: url(../img/Filmes1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

/* Botões */
.agr button {
    background: linear-gradient(90deg, #fa1660, #ff6e00);
    padding: 15px;
    position: absolute;
    left: 90%;
    margin: 5px;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.star-inicio {
    text-align: center;
    padding: 400px 0;
    color: white;
    margin: 5px;
}

.star-inicio p {
    font-size: 25px;
    font-weight: bold;
}

.star-inicio button {
    height: 20%;
    padding: 15px;
    width: 550px;
    color: white;
    background: linear-gradient(90deg, rgba(255,50,50,1) 0%, rgba(144,31,196,1) 41%, rgba(255,0,138,1) 100%);
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    transition: 0.1s ease;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 5;
}

/* Estilo dos Planos */
.plano {
    margin: auto;
}

.plano h1 {
    margin: 25px 15px;
    font-size: 44px;
    text-align: center;
}

.combo {
    background-image: url(../img/roxo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}

ul {
    margin: 25px 125px 0 125px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.htres {
    margin: 25px 125px;
    font-size: 28px;
    text-align: center;
    align-items: center;
}

.medium {
    text-align: center;
}

/* Estilo dos Botões dos Cartões */
.button--card1,
.button--card2,
.button--card3 {
    background: linear-gradient(90deg, rgba(24,6,125,1) 0%, rgba(111,6,115,1) 73%, rgba(42,0,102,1) 100%);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 110px;
    transition: 0.4s ease;
    cursor: pointer;
}

.filmes2 h1, .filmes2 p {
    margin: 25px 150px;
}

.filmes2 img {
    margin: 5px 150px;
}

.espn {
    margin: 5px 150px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
