# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.db
*.sqlite3
instance/*.db

# Uploads / Static user content (Opcional, manter estrutura se necessário)
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
